<!-- Lanidng page content in the results section -->

{% extends "base/main.html" %}

{% block content %}
<div id="domains">
  <div class="accordion-title">
      Food Security Domains
      <span data-bs-toggle="modal" data-bs-target="#main-modal" style="cursor: pointer;">
          <svg class="info-icon info-icon-blue" width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M14.5 8a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0ZM16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0Zm-9.75 2.5a.75.75 0 0 0 0 1.5h3.5a.75.75 0 0 0 0-1.5h-1V7H7a.75.75 0 0 0 0 1.5h.25v2h-1ZM8 6a1 1 0 1 0 0-2 1 1 0 0 0 0 2Z" /></svg>
      </span>
  </div>
  <div class="accordion accordion-flush" id="domainsAcc">
    <!-- <div class="accordion-item">
      <h2 class="accordion-header" id="f-title-header">
        <button  class="accordion-button collapsed phase2-text-menu" type="button" data-bs-toggle="collapse" data-bs-target="#f-title-collapse" aria-expanded="false" aria-controls="f-title-collapse">
          Food Security Domains
        </button>
      </h2>
      <div id="f-title-collapse" class="accordion-collapse collapse phase2-text-menu-reverse" aria-labelledby="f-title-header" data-bs-parent="#domainsAcc">
        <div class="accordion-body">Description of the menu</div>
      </div>
    </div> -->
    {% for domain_id, domain in domains.items() %}
      {% set heading_id = "f-head" + domain_id|string %}
      {% set collapse_id = "f-coll" + domain_id|string %}      
      <div class="accordion-item">
        <h2 class="accordion-header" id={{heading_id}}>
          <button  class="accordion-button collapsed phase2-text-menu" type="button" data-bs-toggle="collapse" data-bs-target={{"#" + collapse_id}} aria-expanded="false" aria-controls={{collapse_id}}>
            {{domain}}
          </button>
        </h2>
        <div domain_id={{domain_id}} id={{collapse_id}} class="accordion-collapse collapse phase2-text-menu-reverse" aria-labelledby={{heading_id}} data-bs-parent="#domainsAcc">
          <div class="accordion-body">Description of the domain {{domain_id}}: {{domain}}</div>
        </div>
      </div>
    {% endfor %}
    
  </div>
</div>
<div id="ham-filter">
  <div class="filter-toggler d-flex">
    <div class="filter-icon">
      <!-- original viewBox="0 0 576 512"-->
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="-20 -20 619 550 "><path d="M264.5 5.2c14.9-6.9 32.1-6.9 47 0l218.6 101c8.5 3.9 13.9 12.4 13.9 21.8s-5.4 17.9-13.9 21.8l-218.6 101c-14.9 6.9-32.1 6.9-47 0L45.9 149.8C37.4 145.8 32 137.3 32 128s5.4-17.9 13.9-21.8L264.5 5.2zM476.9 209.6l53.2 24.6c8.5 3.9 13.9 12.4 13.9 21.8s-5.4 17.9-13.9 21.8l-218.6 101c-14.9 6.9-32.1 6.9-47 0L45.9 277.8C37.4 273.8 32 265.3 32 256s5.4-17.9 13.9-21.8l53.2-24.6 152 70.2c23.4 10.8 50.4 10.8 73.8 0l152-70.2zm-152 198.2l152-70.2 53.2 24.6c8.5 3.9 13.9 12.4 13.9 21.8s-5.4 17.9-13.9 21.8l-218.6 101c-14.9 6.9-32.1 6.9-47 0L45.9 405.8C37.4 401.8 32 393.3 32 384s5.4-17.9 13.9-21.8l53.2-24.6 152 70.2c23.4 10.8 50.4 10.8 73.8 0z"/></svg>
    </div>
  </div>
  <div 
    class="p-3 filter-body"
  >
      <!-- <div class="row" id="tt-header">
        <h2>Filters</h2>
      </div> -->
      <div class="filter-body-section">
        <div class="row mt-3 section-name" style="margin: 0">
          <p class="h6 border-bottom" style="padding: 0">Data Streams</p>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input stream" type="checkbox" value="" id="flexCheckDefault" data-stream="mc" checked>
          <label class="form-check-label" for="flexCheckDefault">
            Media Monitoring
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input stream" type="checkbox" value="" id="flexCheckChecked" data-stream="tg" checked>
          <label class="form-check-label" for="flexCheckChecked">
            Social Listening
          </label>
        </div>
      </div>

      <div class="filter-body-section">
        <div class="row mt-3 section-name" style="margin: 0">
          <p class="h6 border-bottom" style="padding: 0"> Layers </p>
        </div>
        <div class="form-check">
          <input class="form-check-input a-layer" type="radio" name="flexRadioDefault" id="flexRadioDefault2" layer="sentiment">
          <label class="form-check-label" for="flexRadioDefault2">
            Sentiment
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input a-layer" type="radio" name="flexRadioDefault" id="flexRadioDefault1" layer="attention">
          <label class="form-check-label" for="flexRadioDefault1">
            Attention
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input a-layer" type="radio" name="flexRadioDefault" id="flexRadioDefault1" layer="anomaly" checked>
          <label class="form-check-label" for="flexRadioDefault1">
            Topic Anomalies
          </label>
        </div>
      </div>

      <div class="filter-body-section accordion accordion-flush" id="info-acc">
        
          <div class="mt-3 accordion-item section-name" id="info-acc-header">
            <p class="accordion-button phase2-text-menu h6 border-bottom p-0" type="button" data-bs-toggle="collapse" data-bs-target="#info-acc-collapse" aria-expanded="false" aria-controls="info-acc-collapse">
              Information
            </p>
          
            <div  id="info-acc-collapse" class="accordion-collapse show" aria-labelledby="info-acc-header" data-bs-parent="#info-acc">
              <div class="accordion-body"></div>
            </div>
          </div>
        </div>
        
      </div>
      
      
  </div>


  
</div>
<div class="d-flex flex-column flex-fill justify-content-center pg-content" style="background-color: #dbdbdb; width: 0;">
    <div 
      class="d-flex flex-fill justify-content-center align-items-center hcs" 
      
      id="sentiment-map" style="background-color: #fff; overflow: hidden;" >
    </div>
</div>
{% endblock content %}