<!-- Landing page of the dashboard -->
<!doctype html>
<html>

<!-- HEAD -->
{% include "base/head.html" %}

<!-- Body of the webpage -->
<body class="d-flex flex-column">

<!-- HEADER -->
<header>
    {% include "base/navbar.html" %}
</header>

<!-- MODALS -->

<div class="modal fade" id="main-modal" tabindex="-1" role="dialog" aria-labelledby="main-modal-title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
      <div class="modal-content">
            <div class="modal-header modal-header-landing-main">
            <h5 class="modal-title" id="main-modal-title">Food Insecurity Trends in Digital Platforms</h5>
            <button type="button" class="close no-bg white" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                
                    
                        <div class="info-box-section">
                            <p>
                                <strong>
                                    This interactive tool is dedicated to monitoring 
                                    digital spaces for conversations, news coverage and 
                                    search engine interest related to FEWS NET’s 
                                    dimensions of food security early warning. 
                                </strong>
                            <p>
                        </div>
                        <div class="info-box-section">
                            <p>
                                The objective of this dashboard is to support food security analysts and practitioners to explore and understand how food security shocks and outcomes are represented in different platforms, focusing on digital content disseminated in FEWS NET-covered countries. 
                            </p>
                        </div>
                
                        <div class="info-box-section">
                            <p>
                                By selecting the food security domain you would like to visualize below, the map will display the latest topic anomaly score for our digital data sources. To visualize other metrics, click the button on the top right corner of the map and select the desired data streams and layers. 
                            </p>
                        </div>
                
                        <div class="info-box-section">
                            <p>
                                Hover over a country to see a tooltip and click to navigate to the country-level analyses. A full user guide is available in the top menu.  
                            </p>
                        </div>
               
                
            </div>
            
      </div>
    </div>
  </div>

<!-- CONTENT -->
{% include "landing/layout.html" %}


<!-- FOOTER -->
{% include "base/footer.html" %}


<!-- popups-->
<div id="main-pu" class="popup-container">
    {% include "info_boxes/landing_main.html" %}
</div>


<!-- JAVASCRIPT -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script>
    var countries = JSON.parse('{{countries|tojson}}');
    var fews_countries = JSON.parse('{{fews_countries|tojson}}');
    var topics = JSON.parse('{{topics|tojson}}');
    var mapData = JSON.parse('{{map_data|tojson}}');
    var domainsObj = JSON.parse('{{domains|tojson}}');
    var domainsDescriptions = JSON.parse('{{domains_descriptions|tojson}}');
    var mapDataObj = JSON.parse('{{map_data_dict|tojson}}');
    var mapInput = JSON.parse('{{avg_input|tojson}}');
    var dateRange = JSON.parse('{{date_range|tojson}}');
    var dateRangeInt = JSON.parse('{{date_range_int|tojson}}');
    var mapTooltipData;
    let queryParams = $.param(
        {
            start_date: dateRangeInt[0],
            end_date: dateRangeInt[1]
        },
        true
    );
    let url = '/tooltip_stats?' + queryParams;
    fetch(url)
        .then(res =>  res.json())
        .then(data => {mapTooltipData = data;})
    var LayersMap = {
    "sentiment": {
        "text": "Sentiment"},
    "attention": {
        "text": "Attention"},
    "anomaly": {
        "text": "Topic Anomalies"},
}

</script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.4/js/dataTables.bootstrap5.min.js"></script>


<!-- Highcharts -->
<!-- <script src="https://code.highcharts.com/10.3.3/highcharts.js"></script> -->
<script src="https://code.highcharts.com/maps/10.3.3/highmaps.js"></script>
<script src="https://code.highcharts.com/10.3.3/highcharts-more.js"></script>
<script src="https://code.highcharts.com/maps/10.3.3/modules/map.js"></script>
<script src="https://code.highcharts.com/10.3.3/modules/exporting.js"></script>
<script src="https://code.highcharts.com/10.3.3/modules/export-data.js"></script>
<script src="https://code.highcharts.com/10.3.3/modules/accessibility.js"></script>
<script src="{{ url_for('static', path='/js/landing.js').include_query_params(version='5') }}" type="module"></script>


</body>

</html>