<div class="d-flex flex-row p-4">
    <div id="tg-filter-bar" class="filter-bar" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
        <div id="tg-query-form" class="query-form">
        </div>
        <input type="button" id="tg-generate-query-button" class="query-button" value="Generate Query"/>
        <div class="datepicker">
            <i class="fa fa-calendar"></i>&nbsp;
            <span></span> <i class="fa fa-caret-down"></i>
        </div>
    </div>
    <div id="mc-filter-bar" class="filter-bar" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
        <div id="mc-query-form" class="query-form">
        </div>
        <input type="button" id="mc-generate-query-button" class="query-button" value="Generate Query"/>
        <div class="datepicker right">
            <i class="fa fa-calendar"></i>&nbsp;
            <span></span> <i class="fa fa-caret-down"></i>
        </div>
        
    </div>
    <div id="si-filter-bar" class="filter-bar" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
        
        <div class="datepicker right">
            <i class="fa fa-calendar"></i>&nbsp;
            <span></span> <i class="fa fa-caret-down"></i>
        </div>
        
    </div>
    
</div>