<!-- Navbar that sits at the top above all other content -->

<nav class="navbar navbar-expand-lg phase2-nav fixed-top" id="fews-nav">
 
    <div class="container-fluid">
      <a class="navbar-brand phase2-text split-text"><span>Food insecurity trends </span><span>in Digital Platforms</span></a>
      <!-- <a class="navbar-brand fews-text" href="#">Food insecurity trends</a> -->
      <a role="button" aria-expanded="false" aria-controls="fews-sidebar" id="sb-button-nav" class="sb-toggler">
        <span class="nav-icon-container">
          <svg  id="sb-toggle-nav" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M6 2.5h7a.5.5 0 0 1 .5.5v10a.5.5 0 0 1-.5.5H6v-11Zm-1.5 0H3a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h1.5v-11ZM1 3a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V3Z" fill="#fff"/></svg>
        </span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
        <ul class="navbar-nav ms-auto">
          {% set home_url_params = '?pre_2013=true' if pre_2013 else '' %}
          {% set home_url = '/' + home_url_params %}
          
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href={{home_url}}>Home</a>
          </li>
          <li class="nav-item dropdown">
            <a href="javascript:void(0)" class="nav-link dropbtn">Countries</a>
            <ul class="dropdown-content">
              {% for code in fews_countries %}
                  {% if code in countries %}
                    <li><a href="/country/{{ code }}" class="nav-link">{{ countries[code]['name'] }}</a></li>
                  {% endif %}
              {% endfor %}
                
            </ul>
        </li>
          {% if True %}
            {% set country = country if country else 'dummy' %}
            {% set studio_url = '/country/' + country + '/studio' %}
            <li class="nav-item">
              <a class="nav-link" href='/studio'>Chart Studio</a>
            </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="/about">User Guide</a>
          </li>
          
        </ul>
      </div>
      
    </div>
    <script>
    //   document.addEventListener('DOMContentLoaded', function() {
    //     const dropdown = document.querySelector('.dropdown');
    //     dropdown.addEventListener('mouseover', function() {
    //         dropdown.querySelector('.dropdown-content').style.display = 'block';
    //     });

    //     dropdown.addEventListener('mouseout', function() {
    //         dropdown.querySelector('.dropdown-content').style.display = 'none';
    //     });
    // });

    </script>
  </nav>