<!-- The toggler at the top of the country page -->

<div class="d-flex flex-row p-4">

    <!-- Nav tabs -->
    <ul class="flex-fill justify-content-evenly nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active split-text" id="tg-tab" data-bs-toggle="pill"
                    data-bs-target="#pills-thematic-trends" type="button" role="tab"
                    aria-controls="pills-thematic-trends" aria-selected="true">
                    <span>Social </span> <span>Listening</span>
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link split-text" id="mc-tab" data-bs-toggle="pill"
                    data-bs-target="#pills-thematic-interactions" type="button" role="tab"
                    aria-controls="pills-thematic-interactions" aria-selected="false">
                    <span>Media </span><span>Monitoring</span>
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link split-text" id="si-tab" data-bs-toggle="pill"
                    data-bs-target="#pills-emerging-trends" type="button" role="tab"
                    aria-controls="pills-emerging-trends" aria-selected="false">
                    <span>Search </span><span>Interest</span>
            </button>
        </li>
    </ul>

</div>