<div class="info-box ">
    <div class="info-box-title">
     </div>
     <div class="info-box-content">
         <div class="info-box-section">
             <p>
                Filter the data with the following options: 
                <ul>
                    <li>
                        <strong>Field:</strong> user can select to filter the analysis by Topic, Sentiment, or Emotion. 
                    </li>
                    <li>
                        <strong>Operator:</strong> currently, only the operator “IS” has been implemented, which indicates that both field on either side of the operator must be true to produce a result. 
                    </li>
                    <li>
                        <strong>Value:</strong> user can select desired topics for analysis. Selecting the Domain will auto select all topics within the domain.

                    </li>
                </ul>
             <p>
         </div>
         <div class="info-box-section">
             <p>
                Click the "+" icon next to the filters to add another filtering row. 
                Click on the trash can icon to delete the respective filter row. 
             </p>
         </div>
 
         <div class="info-box-section">
             <p>
                Once filters have been selected, click "Apply" to update
                 the visualizations on the selected tab. To clear all filters, click "Reset".  
             </p>
        </div>
     </div>
 </div>