<div class="info-box ">
   <div class="info-box-title">
    </div>
    <div class="info-box-content">
        <div class="info-box-section">
            <p>
                <strong>
                    This interactive tool is dedicated to monitoring 
                    digital spaces for conversations, news coverage and 
                    search engine interest related to FEWS NET’s 
                    dimensions of food security early warning. 
                </strong>
            <p>
        </div>
        <div class="info-box-section">
            <p>
                The objective of this dashboard is to support food security analysts and practitioners to explore and understand how food security shocks and outcomes are represented in different platforms, focusing on digital content disseminated in FEWS NET-covered countries. 
            </p>
        </div>

        <div class="info-box-section">
            <p>
                By selecting the food security domain you would like to visualize below, the map will display the latest topic anomaly score for our digital data sources. To visualize other metrics, click the button on the top right corner of the map and select the desired data streams and layers. 
            </p>
        </div>

        <div class="info-box-section">
            <p>
                Hover over a country to see a tooltip and click to navigate to the country-level analyses. A full user guide is available in the top menu.  
            </p>
        </div>
    </div>
</div>