<div class="info-box ">
    <div class="info-box-title">
        
     </div>
     <div class="info-box-content">
         <div class="info-box-section">
             <p>
                <strong>
                    This timeline presents a comparative overview of topic sentiment, 
                    by data source (news and social media).
                </strong> 
             </p>
             
         </div>
         <div class="info-box-section">
             <div class="info-box-header"></div>
             <p>
                The daily sentiment score for each data stream is shown for the selected period. By default, when no topic is 
                filtered, 
                the visualization displays an average score for each data stream, per day. 
             </p>
         </div>
         <div class="info-box-section">
            <div class="info-box-header"></div>
            <p> 
                Scale: -1 to 1
            </p>
            
        </div>
        
 
     </div>
 
 </div>