<div class="info-box ">
    <div class="info-box-title">
        
     </div>
     <div class="info-box-content">
         
         <div class="info-box-section">
             <div class="info-box-header"></div>
             <p>
                Based on the custom taxonomy developed for topics of interest to FEWS NET, the bar chart 
                displays the aggregated Attention for each domain, as represented in public Telegram groups and channels.
                The attention metric for each domain is calculated from the aggregated presence of terms 
                associated to
                particular topics, normalized on the value of the total word count and scaled on a range from 0 to 1.   
             </p>
         </div>

         <div class="info-box-section">
            <div class="info-box-header"></div>
            <p>
               Scale: 0 to 1
            </p>
        </div>
         
 
     </div>
 
 </div>