<div class="info-box ">
    <div class="info-box-title">
        
     </div>
     <div class="info-box-content">
         
         <div class="info-box-section">
             <div class="info-box-header"></div>
             <p>
                This table presents the fluctuation of Attention and Sentiment per Domain. The first figure 
                per metric is the aggregated domain Attention and Sentiment. To their right, the percentage change 
                in relation to the same period prior to the selected timespan is presented. 
                For the Attention metric, figures in green indicate a rise in the variable, whereas figures in 
                red indicate a drop in attention. For Sentiment, green 
                figures indicate sentiment change was positive, whereas red figures indicate the sentiment change was negative. 
             </p>
         </div>

         <div class="info-box-section">
            <div class="info-box-header"></div>
            <p>
                Scale: 0 to 1 for the metric values, 0-100% for period fluctuations. 
            </p>
        </div>
         
 
     </div>
 
 </div>