<div class="info-box ">
    <div class="info-box-title">
        
     </div>
     <div class="info-box-content">
         
         <div class="info-box-section">
             <div class="info-box-header"></div>
             <p>
                The word cloud displays the 50 words with the highest average TF-IDF scores, for the selected period. 
                The "term frequency-inverse document frequency" (TF-IDF) is a common unsupervised text mining metric 
                that identifies how important a word is to a document in a collection or corpus. 
                In this analysis, the TF-IDF is calculated based on the collection of 
                Telegram posts for each country, by period, in order to identify emerging topics in the conversations.
             </p>
         </div>
         
 
     </div>
 
 </div>