<div class="info-box ">
    <div class="info-box-title">
        
     </div>
     <div class="info-box-content">
         
         <div class="info-box-section">
             <div class="info-box-header"></div>
             <p>
                Based on the custom taxonomy developed for 117 topics of interest to FEWS NET, the default 
                timeline displays the aggregated Attention metric over time for the for each Domain. 
                Attention is based on topic prevalence, calculated from the presence of terms associated to a particular topic in a 
                Telegram post, normalized on the value of the total word count of that post and scaled to a range from 0 to 1. 
             </p>
         </div>

         <div class="info-box-section">
            <div class="info-box-header"></div>
            <p>
               Scale: 0 to 1
            </p>
        </div>
         
 
     </div>
 
 </div>