<div class="info-box ">
    <div class="info-box-title">
        
     </div>
     <div class="info-box-content">
         
         <div class="info-box-section">
             <div class="info-box-header"></div>
             <p>
                The default timeline displays the overall 
                value over time for the for each emotion: Anger, Anticipation, Disgust, Fear, Joy, Sadness, Surprise, and Trust. 
             </p>
         </div>

         <div class="info-box-section">
            <div class="info-box-header"></div>
            <p>
               Scale: 0 to 1
            </p>
        </div>
         
 
     </div>
 
 </div>