<div class="info-box ">
    <div class="info-box-title">
     </div>
     <div class="info-box-content">
         <div class="info-box-section">
             <p>
                The Media Monitoring tab displays the analysis from News Media data, 
                based on a national list of news sources curated by Media Cloud.
                 
             </p>
         </div>
         <div class="info-box-section">
            <p>
                Use Build a query bar and period selector to filter the data. 
            </p>
        </div>
        
     </div>
 </div>