<div class="info-box ">
    <div class="info-box-title">
     </div>
     <div class="info-box-content">
         <div class="info-box-section">
             <p>
                The Social Listening tab displays the analysis from Telegram data, 
                based on a curated list of public groups and channels from <strong>{{ country_name }}</strong>.
                 
             </p>
         </div>
         <div class="info-box-section">
            <p>
                Use the "Build a query" bar and period selector to filter the data. 
            </p>
        </div>
        
     </div>
 </div>