<div class="info-box ">
    <div class="info-box-title">
     </div>
     <div class="info-box-content">
         <div class="info-box-section">
             <p>
                This tab displays a summary of the key metrics for <strong>{{ country_name }}</strong>. 
                 
             </p>
         </div>
         <div class="info-box-section">
            <p>
                Select the desired tabs to navigate between data sources and use the Build a query bar 
                and period selector to filter the data.
            </p>
        </div>
        <div class="info-box-section">
            <p>
                By default, the perioid presented is one year. 
            </p>
        </div>
     </div>
 </div>