<!-- Country Specific page content in the results section -->

{% extends "base/main.html" %}

{% block content %}

<div class="d-flex flex-column flex-fill justify-content-center pg-content" style="width: 0;">
    <div class="d-flex flex-row justify-content-center border-bottom border-secondary country-header">
        <h2 class="fews-country">{{country_name}}</h2>
    </div>
    <div class="row justify-content-center remove-margin fews-tab-content">
        <div style="max-width: 1600px;">
            {% include "base/country-filter-bar.html" %}
            {% include "base/toggler.html" %}
            <!-- TAB CONTENT -->
            <div class="tab-content flex-grow-1" id="pills-tabContent">
                <!-- Thematic Trends -->
                <div class="tab-pane fade show active" id="pills-thematic-trends" role="tabpanel"
                    aria-labelledby="pills-thematic-trends">
                    {% include "country/social_listening.html" %}
                </div>
                <!-- Thematic Interactions -->
                <div class="tab-pane fade" id="pills-thematic-interactions" role="tabpanel"
                    aria-labelledby="pills-thematic-interactions">
                    {% include "country/media_monitoring.html" %}
                </div>

                <!-- Emerging Trends -->
                <div class="tab-pane fade" id="pills-emerging-trends" role="tabpanel"
                    aria-labelledby="pills-emerging-trends">
                    {% include "country/search_interest.html" %}
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}
