<!-- ROW -->
<div class="row m-2 align-items-stretch column-gap-2">

    <!-- COLUMN -->
    <div class="col-12 col-xl-6 my-2 d-flex">
        <div class="p-4 rounded w-100">
            <!-- SIGNIFICANT TERMS CHART -->
            <div 
                class="d-flex flex-fill justify-content-center align-items-center hcs"
                style="min-height: 400px;" 
                id="mc-domains-bar-chart"
            >
            </div>
            
        </div>
    </div>
    <!-- COLUMN -->
    <div class="col-12 col-xl-6 my-2 d-flex">
        <div class="p-4 rounded w-100" >
            <!-- DOCUMENT COMPARISON CHART -->
            <div 
                class="d-flex flex-fill justify-content-center align-items-center hcs" 
                style="min-height: 400px;"
                id="mc-attention-trends"
            >
            </div>
            
        </div>
    </div>
</div>


<!-- ROW -->
<div class="row m-2 align-items-stretch column-gap-2">

    <!-- COLUMN -->
    <div class="col-12 col-xl-6 my-2 d-flex">
        <div class="p-4 rounded w-100">
            <!-- SIGNIFICANT TERMS CHART -->
            <div 
                class="d-flex flex-fill justify-content-center align-items-center hcs tp-table table-card"
                style="min-height: 400px;" 
                id="mc-talking-points"
            >
            </div>
            
        </div>
    </div>
    <!-- COLUMN -->
    <div class="col-12 col-xl-6 my-2 d-flex">
        <div class="p-4 rounded w-100" >
            <!-- DOCUMENT COMPARISON CHART -->
            <div 
                class="d-flex flex-fill justify-content-center align-items-center hcs tp-table table-card" 
                style="min-height: 400px;"
                id="mc-persons"
            >
            </div>
            
        </div>
    </div>
</div>


<!-- ROW -->
<div class="row m-2 align-items-stretch column-gap-2">

    <!-- COLUMN -->
    <div class="col-12 col-xl-6 my-2 d-flex">
        <div class="p-4 rounded w-100">
            <!-- SIGNIFICANT TERMS CHART -->
            <div 
                class="d-flex flex-fill justify-content-center align-items-center hcs tp-table table-card"
                style="min-height: 400px;" 
                id="mc-locations"
            >
            </div>
            
        </div>
    </div>
    <!-- COLUMN -->
    <div class="col-12 col-xl-6 my-2 d-flex">
        <div class="p-4 rounded w-100" >
            <!-- DOCUMENT COMPARISON CHART -->
            <div 
                class="d-flex flex-fill justify-content-center align-items-center hcs tp-table table-card" 
                style="min-height: 400px;"
                id="mc-orgs"
            >
            </div>
            
        </div>
    </div>
    <div class="col-12 col-xl-6 my-2 d-flex">
        <div class="p-4 rounded w-100" >
            
            <div 
                class="justify-content-center align-items-center hcs tp-table table-card" 
                style="min-height: 400px;"
                id="mc-stories"
            >
            </div>
            
        </div>
    </div>
</div>
