<div class="row m-2">
    <div class="row m-0">
        <div class="col-12 col-xl-8 p-0 h-100">
            <div class="row  m-0">
                <div class="col-6 p-0">
                    <div class="card">
                        <div class="d-flex highcharts-title">
                            
                                <span class="hc-title">Hot Topics</span>
                                <span popup-id="mc-hot-pu" class="popup-trigger">
                                    <svg class="info-icon" width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M14.5 8a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0ZM16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0Zm-9.75 2.5a.75.75 0 0 0 0 1.5h3.5a.75.75 0 0 0 0-1.5h-1V7H7a.75.75 0 0 0 0 1.5h.25v2h-1ZM8 6a1 1 0 1 0 0-2 1 1 0 0 0 0 2Z" fill="#fefefe"/></svg>
                                </span>
            
                        </div>
                        <div class="justify-content-center align-items-center hcs" id="mc-domains-bar-chart">
                        </div>
                    </div>
                </div>
                <div class="col-6 p-0">
                        <div class="card table-card">
                            <div class="d-flex highcharts-title pb-2">
                                
                                <span class="hc-title">Talking Points</span>
                                <span popup-id="mc-talking-pu" class="popup-trigger" popup-pos="bottom">
                                    <svg class="info-icon" width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M14.5 8a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0ZM16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0Zm-9.75 2.5a.75.75 0 0 0 0 1.5h3.5a.75.75 0 0 0 0-1.5h-1V7H7a.75.75 0 0 0 0 1.5h.25v2h-1ZM8 6a1 1 0 1 0 0-2 1 1 0 0 0 0 2Z" fill="#fefefe"/></svg>
                                </span>
                            
        
                            </div>
                            <div class="table-container" id="mc-talking-points"></div>
                        </div>
                </div>
            </div>
            
            <div class="row m-0">
                <div class="card">
                    <div class="d-flex highcharts-title">
                        
                            <span class="hc-title">Attention Trends</span>
                            <span popup-id="mc-attention-pu" class="popup-trigger">
                                <svg class="info-icon" width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M14.5 8a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0ZM16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0Zm-9.75 2.5a.75.75 0 0 0 0 1.5h3.5a.75.75 0 0 0 0-1.5h-1V7H7a.75.75 0 0 0 0 1.5h.25v2h-1ZM8 6a1 1 0 1 0 0-2 1 1 0 0 0 0 2Z" fill="#fefefe"/></svg>
                            </span>
                        
        
                    </div>
                    <div 
                        class="justify-content-center align-items-center hcs" id="mc-attention-trends"
                    >
                    </div>
                </div>
            </div>
            <div class="row m-0">
                <div class="card">
                    <div class="d-flex highcharts-title">
                        
                            <span class="hc-title">Emotion Trends</span>
                            <span popup-id="tg-emotion-pu" class="popup-trigger">
                                <svg class="info-icon" width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M14.5 8a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0ZM16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0Zm-9.75 2.5a.75.75 0 0 0 0 1.5h3.5a.75.75 0 0 0 0-1.5h-1V7H7a.75.75 0 0 0 0 1.5h.25v2h-1ZM8 6a1 1 0 1 0 0-2 1 1 0 0 0 0 2Z" fill="#fefefe"/></svg>
                            </span>
        
                    </div>
                    <div 
                    class="justify-content-center align-items-center hcs" id="mc-emotion-trends"
                    >
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-4 p-0 h-100">
                
                <div class="card table-card three-cards-long-card">
                    <div class="d-flex highcharts-title pb-2">
                                
                        <span class="hc-title">New Stories</span>
                        <span popup-id="mc-stories-pu" class="popup-trigger">
                            <svg class="info-icon" width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M14.5 8a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0ZM16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0Zm-9.75 2.5a.75.75 0 0 0 0 1.5h3.5a.75.75 0 0 0 0-1.5h-1V7H7a.75.75 0 0 0 0 1.5h.25v2h-1ZM8 6a1 1 0 1 0 0-2 1 1 0 0 0 0 2Z" fill="#fefefe"/></svg>
                        </span>
                    
    
                    </div>
                    <div class="table-container" id="mc-stories">
                    </div>
                </div>
                
            
        </div>
    </div>
    <!-- <div class="row m-0">
        <div class="col-12 col-xl-4 p-0">
            
            
                <div class="card table-card">
                    <div class="table-container" id="mc-locations"></div>
                </div>
                
            
        </div>
        <div class="col-12 col-xl-8 p-0">
            
                
                <div 
                    class="card justify-content-center align-items-center hcs" id="mc-attention-trends"
                >
                </div>
                
           
        </div>
    </div> -->
</div>