<div class="row m-2">
    <div class="row m-0">
        <div class="col-12 col-xl-8 p-0 h-100">
            <div class="row h-50 m-0">
                <div class="col-6 p-0">
                    <div class="card justify-content-center align-items-center hcs" id="mc-domains-bar-chart">
                    </div>
                </div>
                <div class="col-6 p-0">
                    
                        
                        <div class="card table-card align-items-center">
                            <div class="table-container" id="mc-talking-points">
                            </div>
                        </div>
                </div>
            </div>
            <div class="row h-50 m-0">
                <div class="col-6 p-0">
                    
                            <div class="card table-card">
                                <div class="table-container" id="mc-orgs">
                                </div>
                            </div>
                        
                        
                    
                </div>
                <div class="col-6 p-0">
                    
                        
                        <div class="card table-card">
                            <div class="table-container" id="mc-persons">
                            </div>
                        </div>                
                    
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-4 p-0 h-100">
                <div class="card table-card long-card">
                    <div class="table-container" id="mc-stories">
                    </div>
                </div>
                
            
        </div>
    </div>
    <div class="row m-0">
        <div class="col-12 col-xl-4 p-0">
            
            
                <div class="card table-card">
                    <div class="table-container" id="mc-locations"></div>
                </div>
                
            
        </div>
        <div class="col-12 col-xl-8 p-0">
            
                
                <div 
                    class="card justify-content-center align-items-center hcs" id="mc-attention-trends"
                >
                </div>
                
           
        </div>
    </div>
</div>