<!-- ROW -->
<div class="row m-0">

    
    <div class="col p-0">
        
            <div 
                class="card justify-content-center align-items-center hcs"
                id="oa-anomaly-trends"
            >
            </div>
            
        
    </div>
</div> 
<div class="row m-0">

    
    <div class="col p-0">
        

            
            <div 
                class="card justify-content-center align-items-center hcs"
                id="oa-attention-trends"
            >
            </div>
            
        
    </div>
</div> 

<!-- ROW -->
<div class="row m-0">

    <!-- COLUMN -->
    <div class="col p-0">
        

            <!-- TIME TREND OF DOCUMENT SENTIMENT CHART -->
            <div 
                class="card justify-content-center align-items-center hcs"
                id="oa-sentiment-trends"
            >
            </div>
            
        
    </div>
</div> 

<div class="row m-0">

    <div class="col p-0">
        

            
            <div 
                class="card justify-content-center align-items-center hcs"
                id="oa-ssi-trends"
            >
            </div>
            
        
    </div>
</div> 
