<!-- ROW -->
<div class="row m-2 align-items-stretch column-gap-2">

    <!-- COLUMN -->
    <div class="col my-2">
        <div class="p-4 rounded" style="background-color: #fff; ">

            <!-- TIME TREND OF DOCUMENT SENTIMENT CHART -->
            <div 
                class="d-flex flex-fill justify-content-center align-items-center hcs"
                style="min-height: 400px;" 
                id="si-food-insecurity"
            >
            </div>
            
        </div>
    </div>
</div> 