<!-- ROW -->
<div class="row m-0">

    <div class="col-12 col-xl-4 p-0">
        
            
            <div 
                class="card justify-content-center align-items-center hcs" 
                style="min-height: 400px;"
                id="tg-domains-bar-chart"
            >
            </div>
            
       
    </div>

    
    <div class="col-12 col-xl-4 p-0">
        
            
            <div 
                class="card table-card justify-content-center align-items-center" 
                style="min-height: 400px;"
                id="tg-talking-points"
            >
            </div>
            
        
    </div>
    <div class="col-12 col-xl-4 p-0">
        
            
            <div 
                class="card hcs justify-content-center align-items-center" 
                style="min-height: 400px;"
                id="tg-top-terms"
            >
                <h3>Top Terms (wordcloud)</h3>
            </div>
            
        
    </div>
</div>

<!-- ROW -->


<div class="row m-0" style="max-height: 500px;">

    
    <div class="col-12 col-xl-3 p-0">
        
            
            <div 
                class="card justify-content-center align-items-center table-card"
                style="min-height: 400px; max-height: 450px;" 
                id="tg-messages"
            >
            </div>
            
        
    </div>
    <div class="col-12 col-xl-3 p-0">
        
            
            <div 
                class="card hcs table-card justify-content-center align-items-center" 
                style="min-height: 400px; max-height: 450px;"
                id="tg-pictures"
            >
                <h3>Picture viewer</h3>
            </div>
            
        
    </div>
    
    <div class="col-12 col-xl-6 p-0">
        
            
            <div 
                class="card justify-content-center align-items-center hcs" 
                style="min-height: 400px;"
                id="tg-attention-trends"
            >
            </div>
            
        
    </div>
</div> 


</div>

<!-- ROW -->
<!-- <div class="row m-2 align-items-stretch column-gap-2"> -->

    <!-- COLUMN -->
    <!-- <div class="col my-2">
        <div class="p-4 rounded" >

            <div 
                class="d-flex flex-fill justify-content-center align-items-center hcs"
                style="background-color: #fff; min-height: 400px;" 
                id="time-trend-document-sentiment"
            >
            </div>
            
        </div>
    </div>
</div> 