<!-- ROW -->
<div class="row m-2 align-items-stretch column-gap-2">

    <!-- COLUMN -->
    <div class="col-12 col-xl-6 my-2 d-flex">
        <div class="p-4 rounded w-100" >
            <!-- SIGNIFICANT TERMS CHART -->
            <div 
                class="d-flex flex-fill justify-content-center align-items-center hcs"
                style="min-height: 400px;" 
                id="tg-domains-bar-chart"
            >
            </div>
            
        </div>
    </div>
    <!-- COLUMN -->
    <div class="col-12 col-xl-6 my-2 d-flex">
        <div class="p-4 rounded w-100" >
            <!-- DOCUMENT COMPARISON CHART -->
            <div 
                class="d-flex flex-fill justify-content-center align-items-center hcs" 
                style="min-height: 400px;"
                id="tg-attention-trends"
            >
            </div>
            
        </div>
    </div>
</div>

<!-- ROW -->
<div class="row m-2 align-items-stretch column-gap-2">

    <!-- COLUMN -->
    <div class="col-12 col-xl-6 my-2 d-flex">
        <div class="p-4 rounded w-100">
            <!-- SIGNIFICANT TERMS CHART -->
            <div 
                class="d-flex flex-fill justify-content-center align-items-center hcs tp-table table-card"
                style="min-height: 400px;" 
                id="tg-talking-points"
            >
            </div>
            
        </div>
    </div>
    <!-- COLUMN -->
    <div class="col-12 col-xl-6 my-2 d-flex">
        <div class="p-4 rounded w-100">
            <!-- DOCUMENT COMPARISON CHART -->
            <div 
                class="justify-content-center align-items-center hcs tp-table table-card" 
                style="min-height: 400px;"
                id="tg-messages"
            >
            </div>
            
        </div>
    </div>
</div>




<!-- ROW -->
<!-- <div class="row m-2 align-items-stretch column-gap-2"> -->

    <!-- COLUMN -->
    <!-- <div class="col my-2">
        <div class="p-4 rounded" >

            <div 
                class="d-flex flex-fill justify-content-center align-items-center hcs"
                style="background-color: #fff; min-height: 400px;" 
                id="time-trend-document-sentiment"
            >
            </div>
            
        </div>
    </div>
</div>  -->