<!-- ROW -->
<div class="row m-2">
<div class="row m-0">

    <div class="col-12 col-xl-4 p-0">
        
            
            <div 
                class="card justify-content-center align-items-center hcs" 
                id="tg-domains-bar-chart"
            >
            </div>
            
       
    </div>

    
    <div class="col-12 col-xl-4 p-0">
        
            
            <div 
                class="card table-card" 
                
            >   
                <div class="table-container" 
                    id="tg-talking-points"></div>
            </div>
            
        
    </div>
    <div class="col-12 col-xl-4 p-0">
        
            
            <div 
                class="card hcs justify-content-center align-items-center" 
                id="tg-top-terms"
            >
                <h3>Top Terms (wordcloud)</h3>
            </div>
            
        
    </div>
</div>

<!-- ROW -->


<div class="row m-0">

    
    <div class="col-12 col-xl-4 p-0">
        
            
            <div 
                class="card table-card" 
            >
                <div class="table-container" id="tg-messages">

                </div>
            </div>
            
        
    </div>
    <!-- <div class="col-12 col-xl-3 p-0">
        
            
            <div 
                class="card hcs table-card justify-content-center align-items-center"
                id="tg-pictures"
            >
                <h3>Picture viewer</h3>
            </div>
            
        
    </div> -->
    
    <div class="col-12 col-xl-8 p-0">
        
            
            <div 
                class="card justify-content-center align-items-center hcs" id="tg-attention-trends"
            >
            </div>
            
        
    </div>
</div> 



</div>