<div class="info-box ">
    <div class="info-box-title">
        
     </div>
     <div class="info-box-content">
         
         <div class="info-box-section">
             <div class="info-box-header"></div>
             <p>
                Based on the custom taxonomy developed for 117 topics of interest to FEWS NET, 
                the default timeline displays the aggregated Attention metric over time for the for each Domain. 
                Attention is based on record presence: the share of news stories in the selected period
                where at least one topic in the domain is detected. Scale: 0 to 1.
             </p>
         </div>

         <div class="info-box-section">
            <div class="info-box-header"></div>
            <p>
               Scale: 0 to 1
            </p>
        </div>
         
 
     </div>
 
 </div>
