<div class="info-box ">
    <div class="info-box-title">
        
     </div>
    <div class="info-box-content">
         <div class="info-box-section">
             <p>
                <strong>
                    This timeline presents a comparative overview of topic attention, 
                    by data source (news and social media).  
                </strong> 
             </p>
             
         </div>
         <div class="info-box-section">
             <div class="info-box-header"></div>
             <p>
                Based on the custom taxonomy developed for 117 topics of interest to FEWS NET, the default timeline 
                displays the aggregated Attention metric over time for each data stream.  By default, when no topic is filtered, 
                the visualization displays an average of topic attention for all topics, for each data stream, per day. 
                 
             </p>
         </div>
         <div class="info-box-section">
             <div class="info-box-header"></div>
             <p> 
                Attention is based on topic prevalence, calculated from the presence of terms associated 
                to a particular topic in a Telegram post or news story, normalized on the value of the 
                total word count of that item and scaled on a range from 0 to 1. 
             </p>
             
         </div>
         <div class="info-box-section">
            <div class="info-box-header"></div>
            <p> 
                Scale: 0 to 1
            </p>
            
        </div>
 
     </div>
 
 </div>