<div class="info-box ">
    <div class="info-box-title">
        
     </div>
     <div class="info-box-content">
         <div class="info-box-section">
             <p>
                <strong>
                    This bar chart presents a comparative overview of topic anomalies, 
                    by data source (news and social media). 
                    The metric identifies any anomalies in topic prevalence, i.e. topics that are presenting a 
                    different attention than usual.  
                </strong> 
             </p>
             
         </div>
         <div class="info-box-section">
             <div class="info-box-header"></div>
             <p>
                They are presented as the count of anomalous topics 
                for each data stream for the selected period. By default, when no topic is filtered, 
                the visualization displays a sum of topic anomalies for each data stream, per day. 
                 
             </p>
         </div>
         <div class="info-box-section">
             <div class="info-box-header"></div>
             <p> 
                For every topic, the average and standard deviation of the daily normalized prevalences are 
                calculated considering the whole dataset; a topic is then tagged as anomalous on a specific 
                date when its topic 
                normalized prevalence is larger than the average + standard deviation.
             </p>
             
         </div>
         
 
     </div>
 
 </div>