<div class="info-box ">
    <div class="info-box-title">
        
     </div>
     <div class="info-box-content">
         
         <div class="info-box-section">
             <div class="info-box-header"></div>
             <p>
                This timeline displays the time trend for each
                 topic that comprises the Synthetic Search Interest Index for Food Insecurity for the last year.  
             </p>
         </div>
         
         <div class="info-box-section">
            <div class="info-box-header"></div>
            <p>
                Scale: 0 to 100.   
            </p>
        </div>
     </div>
 
 </div>