<div class="info-box ">
    <div class="info-box-title">
        
     </div>
     <div class="info-box-content">
         
         <div class="info-box-section">
             <div class="info-box-header"></div>
             <p>
                Select Attention, Sentiment or Topic Anomalies metrics for the data streams,
                 as well as the topics covered by the Synthetic Search Index (SSI). 
                 To select a variable, click on the “+” icon for each metric.   
             </p>
         </div>
         
     </div>
 
 </div>