<div class="info-box ">
    <div class="info-box-title">
     </div>
     <div class="info-box-content">
         <div class="info-box-section">
             <p>
                The Search Interest tab displays the analysis from Google Trends data, 
                based on country-level Synthetic Search Interest Indices (SSI) for 
                Food Insecurity and Conflict, per country.
                 
             </p>
         </div>
         <div class="info-box-section">
            <p>
                In this tab, only the period selector is available. 
            </p>
        </div>
        
     </div>
 </div>