<script src="{{ url_for('static', path='/vendor/highcharts/highstock.js').include_query_params(version=version) }}"></script>
<script src="{{ url_for('static', path='/vendor/highcharts/modules/exporting.js').include_query_params(version=version) }}"></script>
<script src="{{ url_for('static', path='/vendor/highcharts/modules/export-data.js').include_query_params(version=version) }}"></script>
<script src="{{ url_for('static', path='/vendor/highcharts/modules/wordcloud.js').include_query_params(version=version) }}"></script>
