<section class="corpus-coverage-section">
    <div class="corpus-coverage-toolbar">
        <span class="hc-title">Corpus Coverage</span>
        <div class="coverage-interval-toggle" role="group" aria-label="Corpus coverage interval">
            <span class="coverage-interval-label">Interval</span>
            <button class="coverage-interval-option" type="button" data-coverage-interval="auto">Auto</button>
            <button class="coverage-interval-option" type="button" data-coverage-interval="day">Daily</button>
            <button class="coverage-interval-option" type="button" data-coverage-interval="week">Weekly</button>
            <button class="coverage-interval-option" type="button" data-coverage-interval="month">Monthly</button>
        </div>
    </div>
    <div class="row m-0">
        <div class="col-12 col-xl-6 p-0">
            <div class="card corpus-coverage-card">
                <div class="d-flex highcharts-title">
                    <span class="hc-title">Telegram Corpus Coverage</span>
                </div>
                <div class="coverage-summary" id="tg-corpus-coverage-summary"></div>
                <div class="d-flex justify-content-center align-items-center hcs corpus-coverage-chart" id="tg-corpus-coverage-chart"></div>
            </div>
        </div>
        <div class="col-12 col-xl-6 p-0">
            <div class="card corpus-coverage-card">
                <div class="d-flex highcharts-title">
                    <span class="hc-title">Media Monitoring Corpus Coverage</span>
                </div>
                <div class="coverage-summary" id="mc-corpus-coverage-summary"></div>
                <div class="d-flex justify-content-center align-items-center hcs corpus-coverage-chart" id="mc-corpus-coverage-chart"></div>
            </div>
        </div>
    </div>
</section>

<!-- ROW -->
<div class="row m-0">


    <div class="col p-0">
        <div class="card">
                <div class="d-flex highcharts-title">
                        
                        <span class="hc-title">Topic Anomalies</span>
                        <span popup-id="oa-anomaly-pu" class="popup-trigger" >
                            <svg class="info-icon" width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M14.5 8a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0ZM16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0Zm-9.75 2.5a.75.75 0 0 0 0 1.5h3.5a.75.75 0 0 0 0-1.5h-1V7H7a.75.75 0 0 0 0 1.5h.25v2h-1ZM8 6a1 1 0 1 0 0-2 1 1 0 0 0 0 2Z" fill="#fefefe"/></svg>
                        </span>
                </div>
                
            
                <div 
                    class="d-flex justify-content-center align-items-center hcs hc-point-inherit"
                    id="oa-anomaly-trends"
                >
                </div>
        </div>
            
        
    </div>
</div> 


<div class="row m-0">
    
    <div class="col p-0">
    
            <div class="card">
                <div class="d-flex highcharts-title">
                        <span class="hc-title">Attention Trends</span>
                        <span popup-id="oa-attention-pu" class="popup-trigger">
                            <svg class="info-icon" width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M14.5 8a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0ZM16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0Zm-9.75 2.5a.75.75 0 0 0 0 1.5h3.5a.75.75 0 0 0 0-1.5h-1V7H7a.75.75 0 0 0 0 1.5h.25v2h-1ZM8 6a1 1 0 1 0 0-2 1 1 0 0 0 0 2Z" fill="#fefefe"/></svg>
                        </span>
                
                </div>
                <div 
                    class="d-flex justify-content-center align-items-center hcs hc-point-inherit"
                    id="oa-attention-trends"
                    >
                </div>
        </div>
            
        
    </div>
</div> 

<!-- ROW -->
<div class="row m-0">

    <!-- COLUMN -->
    <div class="col p-0">
        
            <div class="card">
                <div class="d-flex highcharts-title">
                   
                        <span class="hc-title">Sentiment</span>
                        <span popup-id="oa-sentiment-pu" class="popup-trigger">

                            <svg class="info-icon" width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M14.5 8a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0ZM16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0Zm-9.75 2.5a.75.75 0 0 0 0 1.5h3.5a.75.75 0 0 0 0-1.5h-1V7H7a.75.75 0 0 0 0 1.5h.25v2h-1ZM8 6a1 1 0 1 0 0-2 1 1 0 0 0 0 2Z" fill="#fefefe"/></svg>
                        </span>
                    

                </div>
                <!-- TIME TREND OF DOCUMENT SENTIMENT CHART -->
                <div 
                class="d-flex justify-content-center align-items-center hcs hc-point-inherit"
                id="oa-sentiment-trends"
                >
            </div>
        </div>
            
        
    </div>
</div> 

<div class="row m-0">
    <div class="col p-0">
        <div class="card">
            <div class="d-flex highcharts-title">
                <span class="hc-title">Search Interest</span>

                <span popup-id="oa-ssi-pu" class="popup-trigger">
                    <svg class="info-icon" width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M14.5 8a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0ZM16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0Zm-9.75 2.5a.75.75 0 0 0 0 1.5h3.5a.75.75 0 0 0 0-1.5h-1V7H7a.75.75 0 0 0 0 1.5h.25v2h-1ZM8 6a1 1 0 1 0 0-2 1 1 0 0 0 0 2Z" fill="#fefefe"/></svg>
                </span>
                

            </div>
                <div 
                class="d-flex justify-content-center align-items-center hcs"
                id="oa-ssi-trends"
                >
            </div>
        </div>
    </div>
</div> 
