<!-- Country Specific page content in the results section -->

{% extends "base/main.html" %}

{% block content %}

<div class="d-flex flex-column flex-fill justify-content-center pg-content" style="width: 0;">
    <div class="d-flex flex-row justify-content-center border-bottom border-secondary country-header">
        <h2 class="fews-country">{{country_name}}</h2>
    </div>
    <div class="container-fluid  remove-margin fews-tab-content">
            {% include "base/studio-filter-bar.html" %}
            <div class="d-flex flex-column flex-fill justify-content-center">
                <div class="row">
                    <div class="col-12 col-xl-3">
                        <div class="card no-max-height">
                            <div id="chart-selector" class="sub-condition">
                                <div class="field-header">
                                    <h5>Chart Type</h5>
                                    <hr/>
                                </div>
                                <select id="chart-select"></select>
                            </div>
                            <div id="country-selector" class="sub-condition">
                                <div class="field-header">
                                    <h5>Countries</h5>
                                    <hr/>
                                </div>
                                <div id="country-select"></div>
                            </div>
                            <div id="available-fields" class="sub-condition">
                                <div class="field-header">
                                    <h5>Available fields</h5>
                                    <hr/>
                                </div>
                                
                                <ul id="available-fields-list">
                                    
                                </ul>
                            </div>
                            <div id="selected-fields" class="sub-condition">
                                <div class="field-header">
                                    <h5>Selected fields</h5>
                                    <hr/>
                                </div>
                                
                                <ul id="selected-fields-list">
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-xl-6">
                        <div class="row">
                            <div 
                                class="card hcs justify-content-center align-items-center vh60" 
                                id="studio-chart"
                            >
                                <h3>Studio Chart</h3>
                            </div>
                            <div id="create-chart">
                                <input type="button" id="create-chart-button" class="query-button" value="Create"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-xl-6">
                                <div class="card table-card" >
                                    <div class="table-container" id="tg-messages">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-xl-6">
                                <div class="card table-card">
                                    <div 
                                    class="justify-content-center align-items-center hcs tp-table table-card" 
                                    id="mc-stories"
                                    >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-12 col-xl-3">
                        <div class="card no-max-height">
                            
                            <div id="available-variables" class="sub-condition">
                                <div class="field-header">
                                    <h5>Available Variables</h5>
                                    <hr/>
                                </div>
                                
                                <ul id="available-variables-list">
                                    
                                </ul>
                            </div>
                            <div id="selected-variables" class="sub-condition">
                                <div class="field-header">
                                    <h5>Selected Variables</h5>
                                    <hr/>
                                </div>
                                
                                <ul id="selected-variables-list">
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                
                </div>

            </div>   
    </div>
</div>

{% endblock content %}
